.login-container {
    background-image: linear-gradient(rgb(0 0 0 / 20%), rgb(0 0 0 / 20%)),
        url(../../../assets/images/anhcay.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh);
    .login-form {
        max-width: 450px;
        width: 95%;
        h1 {
            font-size: 40px;
        }
        h6 {
            font-size: 16px;
        }
        .submit-btn {
            height: 50px;
            font-size: 16px;
        }
    }
}
