.category-container {
    height: 100%;
    background-color: #f8f9fa;
    h3 {
        color: black;
    }
    a {
        &:hover {
            color: rgba(4, 88, 33, 0.925);
        }
    }
    h1 {
        &::before{
                content: "";
                opacity: 1;
                // width: 150px;
                border: 4px solid #228B22;
                border-radius: 5px;
                background-color: #228B22;
                margin-right: 10px;
            }
        }
}