.carditem-container {
    background-color: #f8f9fa;
    height: max-content;
    .card-body {
        height: 100%;
        border-bottom: none;
        .item-img {
            object-fit: cover;
        }
        .card-footer {
            background-color: #3f7652;
        }
    }
}
.text-name {
    min-width: 275px;
    max-width: 275px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
