.Checkout-content {
    margin-top: 120px;
    margin-bottom: 50px;
    .form-control,
    .form-select {
        padding: 0.75rem !important;
        font-size: 1.5rem !important;
    }
    .product-cart {
        // display: inline-block;
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
        .first {
            width: 140px;
            margin-left: -50px;
        }
        .second {
            width: 90px;
            overflow: hidden;
        }
        .product-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .paypal-image {
        margin-top: -20px;
    }
}
