.icon-view {
    svg {
        height: 1.5em;
        color: #406a52;
        &:hover {
            cursor: pointer;
            color: black;
        }
    }
}
.cellWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
}
.action-row {
    width: fit-content;
}
.cash {
    padding: 5px;
    border-radius: 5px;
    color: #406a52;
    background-color: rgba(0, 128, 0, 0.151);
}
.paypal {
    padding: 5px;
    border-radius: 5px;
    color: goldenrod;
    background-color: rgba(189, 189, 3, 0.103);
}

.shipping {
    padding: 5px;
    border-radius: 5px;
    color: green;
    background-color: rgba(0, 128, 0, 0.151);
}
.pending {
    padding: 5px;
    border-radius: 5px;
    color: goldenrod;
    background-color: rgba(189, 189, 3, 0.103);
}
.recieve {
    padding: 5px;
    border-radius: 5px;
    color: cornflowerblue;
    background-color: aliceblue;
}
.done {
    padding: 5px;
    border-radius: 5px;
    color: #c13346;
    background-color: #e98d9e;
}
