.card-container {
    width: 100%;
    // max-height: 100%;
    height: 100%;
    border-radius: 16px !important;
    background-color: transparent;
    //  box-shadow: 0px 6px 14px rgb(0 0 0 / 21%);
}

.card {
    background-color: #fff;
    width: 100%;
    height: 96% !important;
    // height: 96%;
    align-items: center;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 21%);

    + .card {
        margin-bottom: 5px;
    }
}
.product-action {
    width: 100%;
    opacity: 0;
    z-index: -1;
    position: absolute;
    bottom: 5%;
}
.card-img-top {
    position: relative;
    max-height: 300px;
    height: calc(100% - 70px);
    width: 100%;
    // height: 300px;
    // max-width: 100%;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.card {
    &:hover {
        .product-action {
            transition: all 0.4s ease-out 0s;
            opacity: 1;
            z-index: 1;
        }
    }
}
.card {
    &:hover .card-img-top .img {
        transform: scale(1);
    }
}
.card-body {
    width: 100%;
    // max-height: 70px;
    height: 70px;
    padding: 0;
}
.card-title {
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card-text {
    font-size: 16px;
}

.action-btn {
    border: none;
    width: calc(100% / 3 - 10px);
    height: 50px;
    background-color: #fff;
    color: #406a52;
    &:hover {
        background-color: #406a52;
        color: #fff;
    }
    .svg-inline--fa {
        vertical-align: middle;
    }
}
// @media screen and (max-width: 1024px) {
//     .card-img-top{

//     }
//     .card-container{
//         min-height: calc(100% - 10% - 70px);
//     }

// }

// .container {
//     position: relative;
//     .overview {
//         opacity: 0;
//         font-size: 20px;
//         position: absolute;
//         height: 185px;
//         width: 100%;
//         background-color: rgba(235, 248, 240, 0.925);
//         &:hover {
//             opacity: 0.67;
//             cursor: pointer;
//         }
//         a {
//             color: rgba(4, 88, 33, 0.925);
//             &:hover {
//                 color: black;
//             }
//         }
//     }

//     .card {
//         background-color: #fff;
//         margin-bottom: 5px;
//         width: 185px;
//         height: 100%;
//         max-height: 300px;

//         + .card {
//             margin-bottom: 5px;
//         }
//     }
//     .card-img-top {
//         height: 185px;
//         width: 100%;
//     }

//     .heart-icon {
//         background-color: transparent;
//         position: absolute;
//         right: 0%;
//         z-index: 2;
//         svg {
//             height: 1.5em;
//         }
//         &:hover {
//             svg {
//                 cursor: pointer;
//                 color: red;
//             }
//         }
//     }
//     .card-title {
//         font-weight: 700px;
//         overflow: hidden;
//         white-space: nowrap;
//         text-overflow: ellipsis;
//     }
// }
