.widget {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
    max-width: 200px;
    min-height: 120px;
    max-height: 120px;
    padding: 10px;
    border-radius: 10px;

    .left,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-weight: bold;
            font-size: 14px;
            color: rgb(160, 160, 160);
        }

        .counter {
            font-size: 28px;
            font-weight: 300;
        }

        .link {
            width: max-content;
            font-size: 12px;
            border-bottom: 1px solid gray;
            cursor: pointer;
            a {
                color: rgb(103, 103, 111);
            }
        }

        .percentage {
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive {
                color: green;
            }
            &.negative {
                color: red;
            }
        }

        .icon {
            width: 18px;
            height: 18px;
            font-size: 18px;
            padding: 5px;
            border-radius: 5px;
            align-self: flex-end;
        }
    }
}
