.btn-delete {
    svg {
        height: 20px;
        color: #fff;
        &:hover {
            color: #000;
        }
    }
}
.card-purchase {
    background-color: #f8f9fa;
    height: max-content;
    .card-body {
        height: 100%;
        border-bottom: none;
        .item-img {
            object-fit: cover;
        }
        .card-footer {
            background-color: #3f7652;
        }
    }
}
.shipping {
    height: fit-content;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    color: green;
    background-color: rgba(0, 128, 0, 0.151);
}
.pending {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    color: goldenrod;
    background-color: rgba(189, 189, 3, 0.103);
}
.receive {
    height: fit-content;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    color: cornflowerblue;
    background-color: rgb(195, 220, 241);
}
.done {
    height: fit-content;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    color: #c13346;
    background-color: #e98d9e;
}
