.header-container {
    width: 100%;
    height: 100px;
    .container {
        @media (maxwidth: 1023px) {
            display: flex;
            justify-content: end;
            align-items: center;
        }
    }
}
.navbar {
    height: 100%;
    margin-top: 0;
    background-color: white;
}
// .dropdown {
//     .dropdown-toggle::after {
//         display: none;
//     }
//     .dropdown-menu {
//         background-color: white !important;
//     }
// }
// .dropdown .dropdown-menu .dropdown-item {
//     &:focus {
//         outline: none;
//     }
//     &:active {
//         outline: none;
//     }
// }
.logo {
    width: 100%;
    @media (max-width: 1023px) {
        display: none;
    }
}
.menu {
    width: 100%;
    // max-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        font-size: 17px;
        font-weight: bold;
        padding-right: 20px;
        color: rgba(169, 169, 169, 0.938);
        &:hover {
            color: rgba(4, 88, 33, 0.925);
        }
        &:focus {
            color: rgba(4, 88, 33, 0.925);
        }
    }
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.search {
    position: relative;
    width: var(--default-search-width);
    height: var(--default-search-height);
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50px;
    border: 1.5px solid rgba(63, 118, 82, 0.67);
    margin: 20px;
    input {
        flex: 1;
        height: 100%;
        font-size: 1.6rem;
        padding: 0px 15px;
        caret-color: rgba(63, 118, 82, 0.67) red;
        background-color: rgba(255, 255, 255, 0);
        border-color: transparent;
    }
    &:focus-within {
        border: 2px solid rgba(4, 88, 33, 0.925);
        background-color: rgba(255, 255, 255, 0);
    }
}
.clear {
    width: 16px;
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    background-color: rgba(255, 255, 255, 0);
    &:hover {
        cursor: pointer;
        font-size: 1.5rem;
    }
}
.search-btn {
    width: 30px;
    height: 100%;
    font-size: 1.8rem;
    background-color: rgba(255, 255, 255, 0);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    &:hover {
        cursor: pointer;
        font-size: 1.5rem;
    }
    .icon {
        width: 30px;
        height: 100%;
        svg {
            margin-bottom: 8px;
            margin-right: 30px;
            color: #ccc;
        }
    }
}
.action {
    display: flex;
    align-items: center;
    justify-content: space-around;
    svg {
        height: 1em;
    }
    // .sell {
    //     @media (max-width: 1023px) {
    //         display: none;
    //     }
    // }
    // .icon-sell {
    //     width: 30px;
    //     svg {
    //         height: 1.5em;
    //         color: #3f7652;
    //     }
    //     &:hover {
    //         svg {
    //             cursor: pointer;
    //             color: black;
    //         }
    //     }
    //     @media (min-width: 1024px) {
    //         display: none;
    //     }
    // }
}

.icon-bell {
    width: 30px;
    position: relative;
    svg {
        height: 1.5em;
        color: #e8e217;
    }
    &:hover {
        svg {
            cursor: pointer;
            color: black;
        }
    }
}
.icon-cart {
    width: 30px;
    position: relative;
    svg {
        height: 1.5em;
        color: #3f7652;
    }
    &:hover {
        svg {
            cursor: pointer;
            color: black;
        }
    }
}
.icon-user {
    position: relative;
    height: 100%;
    svg {
        height: 1.5em;
        color: #794577;
    }
    &:hover {
        svg {
            cursor: pointer;
            color: black;
        }
        .user-content {
            display: block;
        }
    }
}

.user-content {
    display: none;
    position: absolute;
    top: 90%;
    right: -30%;
    text-align: start;
    width: 150px;
    height: 75px;
    line-height: 0px;

    &::before {
        content: ' ';
        position: absolute;
        border: 12px solid;
        border-color: transparent transparent #f4f6f8 transparent;
        right: 10%;
        top: -30%;
    }
}
.button {
    font-size: 15px;
    text-align: left;
    width: 100%;
    height: 50%;
    background-color: #f4f6f8 !important;
    color: #000;
    &:hover {
        color: rgba(4, 88, 33, 0.925);
    }
}
.item-number {
    height: 15px;
    width: 25px;
    font-size: 10px;
    color: white;
    background-color: #3f7652;
    border-color: transparent;
    border-radius: 50px;

    margin-top: -60px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}
.toggle {
    margin-bottom: 8px;
}
