.detail-container {
    background-size: contain;
}
.name {
    font-weight: bold;
    color: black;
}
.info {
}
.price {
    color: red;
}
.img-col {
    background-size: contain;
}
.quantity {
    width: 30px;
}
