.customer {
    margin-left: 33px;
    .form-control {
        padding: 8px;
        font-size: 16px;
    }
}
.pagination {
    flex-direction: row;
    .page-item {
        .page-link {
            color: #198754 !important;
            font-size: 20px;
        }
        &.active {
            .page-link {
                color: white !important;
                background-color: #198754 !important;
            }
        }
    }
}
