@import 'normalize.css';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
:root {
    --header-background-color: rgba(255, 255, 255, 0);

    --font-size-base: 14px; // major text font size
    --default-layout-header-height: 100px;
    --default-logo-width: 257px;
    --default-logo-height: 73px;
    --default-search-width: 250px;
    --default-search-height: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    overflow-x: auto;
    overflow-y: scroll;
    height: 100%;
    background: transparent;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a {
    text-decoration: none;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
